.info-detail div {
    border-bottom: 1px dashed #ddd;
    padding: 10px 0;
  }
.info-detail div:last-child {
  border-bottom: none; 
}

.rotate {
  transition: transform 0.3s ease;
}

.rotate-down {
  transform: rotate(180deg);
}

.modal.show {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-icon {
  font-size: 30px;
  cursor: pointer;
  color: #000; /* Adjust color as needed */
  background: none; /* Ensure no background */
  border: none; /* Remove any border */
  outline: none; /* Remove focus outline */
  padding: 0; /* Remove padding to ensure no extra space around the icon */
  margin-left: 2%
}