<div class="container my-5" *ngIf="burger">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card-body" style="margin-right: 70px">
                <img [src]="burger.imagePath" class="card-img-top" alt="{{burger.name}}">
            </div>
        </div>
        <div class="col-md-4" >
            <div class="card-body" style="margin-left: 70px">
                <h3 class="card-title">Le {{burger.name}}</h3> <br>
                <p class="card-text">
                    <strong>L’unique, l’indémodable Big Mac™ de McDonald’s</strong><br><br> {{burger.description}} <br>
                </p>
                <button type="button" class="btn btn-warning order-button" (click)="orderModal(burger.id!)">Commander</button>
            </div>
        </div>
    </div>
</div>
<div class="container my-2 d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="ble">
    <img src="../../assets/img/ble.jpg" class="card-img-top" alt="Ble" style="width: 1250px; height: 500px;">
  </div>
</div>

<!-- Modale -->
<div class="modal fade" [ngClass]="{'show': isModalOpen}" tabindex="-1"> <!-- Si isModalOpen est true alors on renvoit la classe-->
   <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="fa fa-times close-icon" (click)="closeModal()">
            </button>
         </div>
         <div class="modal-body d-flex flex-column align-items-center" *ngIf="burger">
            <img [src]="burger.imagePath" alt="{{ burger.name }}" style="width: 40%;">
            <p>{{ burger.name }}</p>
            <p>{{ burger.price }}</p>
      </div>
         <div class="modal-footer d-flex flex-column align-items-center">
            <button type="button" class="btn btn-warning" style="width: 90%; height: 50px;">Ajouter au panier</button>
         </div>   
       </div>
   </div>
</div>
<div class="modal-backdrop fade show" *ngIf="isModalOpen"></div>

<!-- 
<p> 
  <br/> 
  <button type="button"
          class="btn btn-success"
          (click)="collapse.toggle()" 
          [attr.aria-expanded]="!gfg" 
    aria-controls="collapseExample"> 
    Click to collapse 
  </button> 
</p> 
  
<div #collapse="ngbCollapse"
     [(ngbCollapse)]="gfg"> 
  <div class="card"> 
    <div class="card-body"> 
      Angular10 ng bootstrap 
    </div> 
  </div> 
</div> -->


<div class="about" *ngIf="burger" style="width: 75%; justify-content: center; margin: auto;">
   <table class="table">
      <thead>
         <tr>
            <th scope="col"></th>
            <th scope="col" style="text-align: center; font-size: 1.5rem; padding: 50px;">A propos du {{burger.name}}</th>
         </tr>
      </thead>
      <tbody>
         <tr (click)="toggleCollapse('ingredients')" [attr.aria-expanded]="!isCollapsed['ingredients']" aria-controls="ingredientsRow">
            <th scope="row"></th>
            <td class="d-flex justify-content-between align-items-center" style="font-size: 1.2rem; font-weight: bold; padding: 20px;"> 
              <!-- Ecrire les 3 classes pour aligner à droite -->
               Les ingrédients
               <i [ngClass]="{'fa fa-chevron-down': true, 'rotate': true, 'rotate-down': !isCollapsed['ingredients']}"></i>
            </td>
         </tr>
         <tr id="ingredientsRow" [ngbCollapse]="isCollapsed['ingredients']">
            <td colspan="2" class="info-detail">
               <div>Info 1</div>
               <div>Info 2</div>
               <div>Info 3</div>
               <div>Info 4</div>
               <div>Info 5</div>
            </td>
         </tr>
         <tr (click)="toggleCollapse('allergenes')" [attr.aria-expanded]="!isCollapsed['allergenes']" aria-controls="allergenesRow">
            <th scope="row"></th>
            <td class="d-flex justify-content-between align-items-center" style="font-size: 1.2rem; font-weight: bold; padding: 20px;">
               Allergènes
               <i [ngClass]="{'fa fa-chevron-down': true, 'rotate': true, 'rotate-down': !isCollapsed['allergenes']}" ></i>
            </td>
         </tr>
         <tr id="allergenesRow" [ngbCollapse]="isCollapsed['allergenes']">
            <td colspan="2" class="info-detail">
               <div>Info 1</div>
               <div>Info 2</div>
               <div>Info 3</div>
               <div>Info 4</div>
               <div>Info 5</div>
            </td>
         </tr>
         <tr (click)="toggleCollapse('nutriscore')" [attr.aria-expanded]="!isCollapsed['nutriscore']" aria-controls="nutriscoreRow">
            <th scope="row"></th>
            <td class="d-flex justify-content-between align-items-center" style="font-size: 1.2rem; font-weight: bold; padding: 20px;">
               Valeurs nutritionnelles et Nutri-Score
               <i [ngClass]="{'fa fa-chevron-down': true, 'rotate': true, 'rotate-down': !isCollapsed['nutriscore']}"></i>
            </td>
         </tr>
         <tr id="nutriscoreRow" [ngbCollapse]="isCollapsed['nutriscore']">
            <td colspan="2" class="info-detail">
               <div>Info 1</div>
               <div>Info 2</div>
               <div>Info 3</div>
               <div>Info 4</div>
               <div>Info 5</div>
            </td>
         </tr>
      </tbody>
   </table>
</div>
