.card {
    padding: 10px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card span {
    font-size: 14px;
}

.card:hover {
    border: 2px solid #FFD700; /* Couleur dorée pour la bordure */
}
