.card {
    padding: 10px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card span {
    font-size: 14px;
}

.card:hover {
    border: 2px solid #FFD700; /* Couleur dorée pour la bordure */
}

.modal.show {
    display: block;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .close-icon {
    font-size: 30px;
    cursor: pointer;
    color: #000; /* Adjust color as needed */
    background: none; /* Ensure no background */
    border: none; /* Remove any border */
    outline: none; /* Remove focus outline */
    padding: 0; /* Remove padding to ensure no extra space around the icon */
    margin-left: 2%
  }
